$primary-text:#757575;
$title-text-color:#212121;
$accent-color:#2196F3;
$white-color: #FFFFFF;
$main-border-color:#EEEEEE;
$dark-bacground-color:#2F303A;
$black-color: #000000;
$light-grey-color: #ECECEC;
$grey-bacground-color: #F5F4FA;
$footer-contact-color:  rgba(255, 255, 255, 0.6);
$figma-bacground-color: #E5E5E5;
$icons-color:#AFB1B8;
$footer-social-link-bg-color: rgba(255, 255, 255, 0.1);
$portfolio-projects-bg-color:rgba(33, 150, 243, 0.9);
$backdrop-bg-col:rgba(0, 0, 0, 0.2);
$work-descr-bg-col:rgba(47, 48, 58, 0.8);
$timing-function:cubic-bezier(0.4, 0, 0.2, 1);



