.footer {
    background-color: $dark-bacground-color;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer__container {
    @extend%container;
    @media screen and (min-width:480px) {
            width: 480px;
            text-align: center;
        }
    
        @media screen and (min-width:768px) {
            width: 768px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
               
        }
        @media screen and (min-width:1200px) {
            width: 1200px;
           flex-wrap: nowrap;
          
            
                         }
}

/*.footer__first-part {
    margin-right: 70px;
}*/

.footer__logo {
    color: $white-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width:1200px){
    font-size: 26px;
    }
}
.logo__first{
    color: $accent-color;
}
.footer__item {
    display: block;
}

.footer__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width:1200px){
        margin-bottom: 9px;
    }
}

.footer__address {
    color:$white-color;
    margin-top: 20px;
    line-height: 1.71;
    font-style: normal;
    transition: color 250ms $timing-function;
    &:nth-child(1){
        color: $white-color;
    }
    
}


.footer__contacts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__contact {
   
    color: $footer-contact-color;
    line-height: 1.71;
    transition: color 250ms $timing-function;
    text-decoration: none;    
    &:hover,
    &:focus {
            color: $accent-color;
        }
   &--white{
    color: $white-color;
   }
}
.footer__first-part{
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width:1200px){
        margin-right: 70px;
        margin-bottom: 0;
        text-align: left;
    }
}
.footer__second-part{
    fill: $white-color;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width:1200px){
        text-align: left;
        margin-bottom: 0;
    }
}
.footer__slogan {
    text-transform: uppercase;
    color: $white-color;
    line-height: 1.17;
    margin-bottom: 20px;
}

.footer-social-link-list {
    display: flex;
}
.footer__social-link:not(:last-child) {
    margin-right: 10px;
}

.footer__third-part {
text-align: center;
@media screen and (min-width:1200px){
margin-left: auto;
text-align: left;
}
}
    



