.site-nav {
    margin-left: 88px;
    @media screen and (min-width:1200px) {
        margin-left: 93px;
        }
    }
   
.site-nav__list {
    @extend%reset-list;
    display: flex;
    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

@media (max-width: 767px) {
    .site-nav__list{display: none;}
}
.site-nav__item:not(:last-child) {
    margin-right: 50px;

}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-size: 14px;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition: color 250ms $timing-function;
    text-decoration: none;
    &:hover,
    &:focus{
        color: $accent-color;
    }
}

.site-nav__link--current {
display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #2196F3;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
}
    
}