%section {
    padding-top: 94px;
    padding-bottom: 94px;
}

%container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}
%button{
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}
%reset-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
